.top{
  width: 200px;
  height: 200px;
  background-color: red;
  position: absolute;
  left:408px;
  top:408px;
}
.mid{
  width: 200px;
  height: 200px;
  background-color: blue;
  position: absolute;
  top:208px;
  left: 208px;
}
.bot{
  width: 200px;
  height: 200px;
  background-color: green;
  position: absolute;
}
